@model WeeklyProgram.Template

@{
    ViewData["Title"] = "Details";
}



<div class="row">
    <h1></h1>
    <h4 class="text-center">التفاصيل</h4>
    <hr />
    <div class="col-md-7">
        <dl class="">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ArrayRow)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.ArrayRow)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ArrayColmun)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.ArrayColmun)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Descreption)
            </dt>
            <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.Descreption)
            </dd>
        </dl>
    </div>

    <div class="col-md-5">
        <img src="~/uploads/templates/@(Model.ImageUrl)" alt="image" class="img-thumbnail">
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
