@model IEnumerable<Template>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a class="btn btn-success my-3" asp-action="Create">انشاء قالب جديد</a>
</p>
<table class="table table-hover table-dark table-striped-columns text-md-center table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Descreption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Descreption)
                </td>
                <td>
                    <img src="~/uploads/templates/@item.ImageUrl" style="Width:60px;" alt="image" class="img-fluid" />
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i
                            class="fa-solid fa-pen-to-square"></i></a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i
                            class="fa-solid fa-circle-info"></i></a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i
                            class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
