@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
}

<div>
    <h2 class="text-center">قائمة الفئات</h2>
    <table class="table table-hover table-dark table-striped-columns text-md-center table-responsive">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.ParentCategoryId)</th>
                <th><a class="btn btn-success" asp-action="Create">اضافة فئة</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.ParentCategoryId)</td>
                    <td>
                         <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i
                                    class="fa-solid fa-pen-to-square"></i></a> |
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i
                                    class="fa-solid fa-circle-info"></i></a> |
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i
                                    class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
